<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->

<p>
    Reporter (Version 1.01 - released 23. July 2018) is a tool to create text templates and adapt those using pre-defined options and overrides to create individual texts from templates.</p>
<p>
    You can look at the source code and suggest improvements as well as submit bugfixes and new features at https://gitlab.com/geoadel/reporter
</p>
<p>
    The program is designed to keep all the data in your browser on your local computer with no data being sent around the internet. It works best in Firefox, Edge, Chrome and Opera. It does work in Microsoft Internet Explorer 11, but expect slow downs in this old browser. 
</p>
<p>
    Release 1.0 offers a simplified and more accessible user interface. Support for all modern browsers has existed from the beginning. Internet Explorer 11  should run the website as well now. 

    23.07.2018 - 1.01 - Fixed an issue with non-named choices being bracketed as named choices; improved minor css layouting issues; added a usage hint to the option helper tool; the option helper tool now starts with two choices / and  two names to enhance usability (less than two choices does not make sense); fixed an issue with variables and Umlauts; also fixed an issue with the override button being pushed around by long titles.
</p>
<p>
Copyright 2018 Georg Adelmann - mail@geoadel.net
This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see http://www.gnu.org/licenses/.
        </p>