<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->

<mat-card class="rep-40">
    <mat-card-title>
        Create Options Helper
    </mat-card-title>
    <mat-card-content>
        <div class="rep-90">
            <mat-form-field class="rep-90">
                <mat-select (selectionChange)="reset()" placeholder="Type of option" [(ngModel)]="selectedType" >
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span class="rep-60" *ngIf="selectedType === 'Named choice' || selectedType === 'Simple choice'">
                <mat-form-field>
                    <input [(ngModel)]="title" (keyup)="updateResult()" matInput placeholder="Title">
                </mat-form-field>
            </span>
            <span *ngIf="selectedType === 'Multiple choice'">
                <mat-form-field class="rep-40">
                    <input [(ngModel)]="title" (keyup)="updateResult()" matInput placeholder="Title">
                </mat-form-field>
                <mat-form-field class="rep-20">
                    <input [(ngModel)]="connector" (keyup)="updateResult()" matInput placeholder="Connector"> 
                </mat-form-field>
            </span>
                
        </div>

        <div *ngIf="isSimpleOrMultipleChoice()" class="rep-90">
            <mat-form-field class="rep-90" *ngFor="let choice of choices; let i = index; trackBy:trackById" >
                <textarea  [(ngModel)]="choices[i]" (keyup)="updateResult()" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7" matInput placeholder="Choice {{i+1}}"></textarea>
            </mat-form-field>
            
        </div>

        <div *ngIf="selectedType === 'Named choice'" >
            <div class="rep-90" *ngFor="let choice of choices;let i = index; trackBy:trackById">
                <mat-form-field class="rep-30">
                    <input [(ngModel)]="names[i]" (keyup)="updateResult()"  matInput placeholder="Title of choice {{i+1}}">
                </mat-form-field>
                <mat-form-field class="rep-60">
                    <textarea  [(ngModel)]="choices[i]" (keyup)="updateResult()" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7" matInput placeholder="Choice {{i+1}}"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div>
            <button *ngIf="selectedType" mat-raised-button (click)="addChoice()">Add more choices</button>
        </div>
        
    </mat-card-content>
    <mat-card-footer *ngIf="optionText">
        <mat-form-field class="rep-90">
            <textarea  [(ngModel)]="optionText" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="12" matInput placeholder="Result" readonly></textarea>
        <mat-hint>Just copy the resulting code above into your text template at the top of this page.</mat-hint>    
        </mat-form-field>
        </mat-card-footer>
</mat-card>
