<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->



<mat-card class="rep-20">
    <mat-card-title>
        Templates
    </mat-card-title>
    <mat-card-content>
        <h4>Save as template</h4>

        <mat-form-field>
            <input matInput placeholder="Template name" [(ngModel)]="newTitle" matTextareaAutosize>
        </mat-form-field>
        <span><button mat-icon-button (click)="storeTemplate(newTitle)"><i class="material-icons">save</i></button></span>

        <h4 *ngIf="getTemplateTitles().length > 0">Load template</h4>
        <mat-nav-list>
            <mat-list-item *ngFor="let title of getTemplateTitles()" (click)="loadTemplate(title)">
                
                <span class="rep-90">{{title}}</span>
                <span class="rep-right"><button mat-icon-button (click)="removeTemplate(title)"><i class="material-icons">clear</i></button></span>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>
