<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->

<div style="max-height: 90vh">
  
    <div class="rep-45" id="markdownView" [innerHTML]="dataService.markdownText | MarkdownToHtml" style="overflow-y: scroll"></div>`
    <div class="rep-45" style="overflow-y:scroll; max-width: 95%">
        
        <span *ngFor="let option of dataService.optionsAndVariablesSorted">
            <mat-card class="rep-cards" *ngIf="option.occursInText">
                <mat-card-title>
                    <span class="rep-50"(click)="option.toggleDisplay()">{{getTitle(option)}}
                        <span *ngIf="option.hasBeenSelected || option.overrideVisible"> - {{option.getSelectedTextAbbreviated()}}
                            <i class="material-icons">check</i>
                        </span>
                    </span>
                    <span *ngIf="!option.tag" class="toTop rep-40-right">
                            
                            <!-- Override setting -->
                            <span class="rep-40" *ngIf="option.overrideVisible">
                                <mat-slide-toggle matSuffix [(ngModel)]="option.overrideAdd" (change)="updateFocus(option.id)">Add</mat-slide-toggle>
                            </span>
                            <button class="rep-right" mat-icon-button (click)="option.overrideVisible = !option.overrideVisible; option.isDisplayedFully = true; updateFocus(option.id)"><i class="material-icons" [ngClass]="{'orange600': option.overrideVisible}">input</i></button>

                    </span>
                </mat-card-title>


                <mat-card-content *ngIf="option.isDisplayedFully" class="rep-90">

                    <!-- variable -->
                    <mat-form-field *ngIf="option.tag" class="rep-90">
                        <textarea class="rep-90" matInput placeholder="Replacement" [(ngModel)]="option.replacement" (keyup)="updateFocus(option.id)" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7"></textarea>
                    </mat-form-field>

                    <!-- OVERRIDE -->
                    <div *ngIf="option.overrideVisible">
                        <mat-form-field class="rep-90 rep-inline">
                            <textarea matInput placeholder="Override" [(ngModel)]="option.override" (keyup)="updateFocus(option.id)" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="7"></textarea>
                            <button matSuffix mat-icon-button (click)="option.overrideVisible = false; option.override=''; updateFocus(option.id)"><i class="material-icons">clear</i></button>
                        </mat-form-field>
                    </div>


                    <!-- simple choice and named choice -->
                    <mat-nav-list *ngIf="!option.isMultipleChoice && !option.tag && !option.overrideVisible">
                        <mat-list-item *ngFor="let choice of option.getChoices(); index as i" (click)=" setChoice(option, i); updateFocus(option.id)"
                        [ngStyle]="{'color': option.isSelected(i) ? 'green' : 'black' }">
                           {{choice}}
                        </mat-list-item>
                    </mat-nav-list>
                        
                    <!-- multiple choice -->                   
                    <div *ngIf="option.isMultipleChoice && !option.overrideVisible" >
                        <mat-checkbox class="rep-checkboxes" *ngFor="let choice of option.getChoices(); index as i"
                            [checked]="option.selectedChoices[i]" (change)="option.toggleMultipleChoice(i); updateFocus(option.id)">
                            <span>{{option.getChoiceAbbreviated(i)}}</span>
                        </mat-checkbox>
                    </div>
                </mat-card-content> 
            </mat-card>
        </span>
    </div>
</div>
