<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->



<mat-card class="rep-20">
    <mat-card-title>Load an example</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Stored Examples" [(ngModel)]="exampleTitle" (selectionChange)="loadExample(exampleTitle)">
                <mat-option>None</mat-option>
                <mat-option  *ngFor="let title of exampleTitles" [value]="title" >
                    {{ title }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-card-content>
</mat-card>
