/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';


.rep-90 {
    width: 90%;
    margin: 10px;
    height: auto;
    column-span: all;
    float: bottom;
}

.rep-80 {
    width: 80%;
    margin: 10px;
    height: auto;
    column-span: all;
    float: bottom;
}

.rep-70 {
    width: 70%;
    margin: 10px;
    height: auto;
    column-span: all;
    float: bottom;
}

.rep-60 {
    width: 60%;
    margin: 10px;
    height: auto;
    column-span: all;
    float: bottom;
}


.rep-45 {
    width: 60%;
    margin: 10px;
    height: auto;
    float: left;
}

.rep-45 {
    width: 45%;
    margin: 10px;
    height: auto;
    column-span: 2;
    float: left;
    max-height: 90vh;
}

.rep-40 {
    width: 40%;
    margin: 10px;
    height: auto;
    column-span: 2;
    float: left;
}

.rep-40-right {
    width: 40%;
    margin: 10px;
    height: auto;
    column-span: 2;
    float: right;
}


.rep-30-right {
    width: 30%;
    margin: 10px;
    height: auto;
    column-span: 1;
    float: right;
}

.rep-30 {
    width: 30%;
    margin: 10px;
    height: auto;
    column-span: 1;
    float: left;
}

.rep-20 {
    width: 20%;
    margin: 10px;
    height: auto;
    column-span: 1;
    float: left;
}

.rep-cards {
    margin: 20px;
    padding-bottom: 30px !important;
}

.rep-checkboxes {
    margin-right: 1.5em;
}

.rep-right{
    margin-left: auto !important;
    margin-right: 0px !important;
    float: right;
}

.rep-inline {
    display: inline !important;
}

.material-icons.orange600 { color: #FB8C00; }