<!-- 
/**
 *  Copyright 2018 Georg Adelmann <mail@geoadel.net>
 *     This file is part of Reporter.

    Reporter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Reporter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Reporter.  If not, see <http://www.gnu.org/licenses/>.
 */

-->


<h1>Introduction to Reporter</h1>

<p>Reporter allows you to reuse text snippets for text reports you write regularly, especially if they follow the same patterns and only differ in a few individualized options.</p>
<p>The easiest way to understand the reporter is to go to the "Prepare tab" above and load an example, then go to the "Choose tab", where you can select the different choices on the right and then copy the text on the left to wherever you need it, e.g. into LibreOffice or Microsoft Word.</p>

<p>You can use the Option Helper on the "Prepare"-Tab to build your own options, then copy the resulting syntax into the template textarea above to implement it.</p>
<p>You can also store and reload templates you regularly use. The last template you used in the "Choose"-Tab is stored as "Last template", so it is faster to reload it. All your templates are stored in your local browser cache.</p>

<p>
    While titles for options are technically optional, you should give your options titles to make it easier to navigate them.
</p>

<h2>Simple choice</h2>
<p>Simple choice provides several choices. The selected choice is used in the final text.
    The syntax is the following.
</p>
<p>
    [title*option 1|option 2| .... |option n]
</p>
<h4>Example</h4>
<p>I love birds like the common [Birds*duck|parrot|kakapo].</p>
<p>You can copy and paste all the examples on this page to the template textarea in the "Prepare"-Tab to understand better how they work.</p>

<h2>Named choices</h2>
<p>
    Named choices provide names for each choice and are useful especially to chose between longer texts. The syntax is as follows:
</p>
<p>
    {{ '{' }}title*Name1:Content1 | Name2: Content2 | Name n: Content n}
</p>

<h4>Example of Named Choices</h4>

{{ '{' }}GroupTherapy*Depression:The group therapy focused depression.|Anxiety:Anxiety-related experiences were shared.|None:}


<h4>Notes for named choices</h4>

If two choices have the same name - then if you change one, that choice will be transported to all other named options with an identical name.
<p>
    {{ '{' }}Gender*Man:His|Woman:Her} own greed was {{ '{' }}Gender*Man:his|Woman:her|Multiple:their} undoing.
</p>

<h2>Multiple Choice</h2>
<p>
    Multiple Choice allows for selecting several simple choices. If more than one choice is selected, the connector (typically something like "and" or "or") is put before the last choice. The syntax is as follows:
</p>
<p>
    {{'<'}}title*connector%Choice 1 | Choice 2 | Choice n>
</p>

<h4>Example</h4>
<p>
    Some {{'<'}}Favourite foods* and %chocolate|white chocolate|chocolate icecream|hot chocolate> a day keeps the doctor away.
</p>

<h2>Overrides</h2>
<p>
    All choices do offer an override button <button mat-icon-button><i class="material-icons">input</i></button> which allows to override any choices and replace or add your own custom text.             
</p>


<h2>Variables</h2>
<p>
    Variables are useful for optional paragraphs in your text as well as names. Variables are especially useful as they can be part of the other choices above. The syntax is as follows:
</p>
<p>
    #Variablename
</p>
<h4>Example</h4>
<p>Dear #name, you are cordially invited.</p>
<p>
    Once you understand the different options available you can insert them into standard text blocks used regularly. That way you can speed up different kinds of reports by creating a customized scaffold in a more efficient way than copy paste all kinds of different text snippets again and again and again.
</p>


<h2>Simple text formatting</h2>
<p>
    There are some simple formatting options available for text
</p>

<p>Headlines are created by a new line starting with a hashtag, then an empty and then some text. You can add more hashtags to make the headline smaller.</p>

## headline
<div [innerHTML]="exampleHeadline | MarkdownToHtml"></div>

<p>
    In a similar way you can create bold text by adding two stars to each side of a word <br />
    This is **boldly** emphasized text.
</p>
<div [innerHTML]="exampleBoldtext | MarkdownToHtml"></div>

<p>
    Quotations can help structure text as well - you can do those starting at a new line with ">" followed by space and then text <br />
    > This is a quotation, meaning it will be indented and multiline if too long for one line.
</p>
<div [innerHTML]="exampleQuote | MarkdownToHtml"></div>





